/* h1 {
    color: darkgoldenrod
}

li {
    color: green
}

h4 {
    color: aquamarine
}

div {
    border-style: solid;
}

label {
   
}

/* body {
    background: url("./images/970.jpg");
    background-size: cover;
} */

body {
    background: rgb(250, 200 ,150);
}